.common-button{
    background-color: #7A4FAD !important;
        color: white !important;

    
}

.trasnperant-button{
    background-color: transparent !important;
    color: #000000 !important;
}


.robot-color{
    color: #7A4FAD !important;
}


.bold-title {
  font-family: 'Inter', sans-serif !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  color: #1f2937; /* dark gray */
}

.semi-bold-text {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #374151;
}

.normal-text {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #6b7280;
}
