/* Add this below @tailwind utilities */
.hero-section {
}

@layer utilities {
  .aspect-w-16 { --tw-aspect-w: 16; }
  .aspect-h-9 { --tw-aspect-h: 9; }
  .aspect-w-4 { --tw-aspect-w: 4; }
  .aspect-h-3 { --tw-aspect-h: 3; }
  .aspect-w-1 { --tw-aspect-w: 1; }
  .aspect-h-1 { --tw-aspect-h: 1; }
  .aspect-w-3 { --tw-aspect-w: 3; }
  .aspect-h-4 { --tw-aspect-h: 4; }

  .aspect-w-1, .aspect-w-3, .aspect-w-4, .aspect-w-16 {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  }

  .aspect-w-1 > *, .aspect-w-3 > *, .aspect-w-4 > *, .aspect-w-16 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
