.nav-item a{
    color: #7A4FAD !important;
    gap: 15px;
}

.loginbutton {
  background: linear-gradient(to bottom, #7B74EF, #5D3FD3) !important;
  color: white !important;
}


.hemburger-button{
    background-color: transparent !important;
}